<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.skillage.appedu">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:hardwareAccelerated="true"
        android:icon="@drawable/logo_edudig"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@drawable/logo_edudig"
        android:supportsRtl="true"
        android:theme="@style/Theme.Eduschool"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".KoperasiMainActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".EDUMainActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".AdminKoperasiActivity"
            android:exported="false" />
        <activity
            android:name=".ShowVideoChat"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ShowPDFChat"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".DialogGambar"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".MyConfirmDialog"
            android:excludeFromRecents="true"
            android:label=""
            android:screenOrientation="landscape" />
        <activity
            android:name=".MyDialog"
            android:excludeFromRecents="true"
            android:label=""
            android:theme="@style/Theme.UserDialog"
            android:screenOrientation="landscape" />
        <activity
            android:name=".MyDialog2"
            android:excludeFromRecents="true"
            android:label=""
            android:theme="@style/Theme.UserDialog"
            android:screenOrientation="landscape" />
        <activity
            android:name=".MyDialog3"
            android:excludeFromRecents="true"
            android:label=""
            android:theme="@style/Theme.UserDialog"
            android:screenOrientation="landscape" />
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>